{{- $scratch := newScratch }}

{{- if and .IsPage (eq .Section "posts") -}}
{{- $categories := .GetTerms "categories" -}}
{{- $allowedCategories := slice "好文分享" "原创文章" "视频笔记" -}}
{{- if ne (len $categories) 1 -}}
{{- errorf "post %q must have exactly one category, got %d" .File.Path (len $categories) -}}
{{- end -}}
{{- $category := index $categories 0 -}}
{{- $categoryTerm := $category.Data.Term -}}
{{- if not (in $allowedCategories $categoryTerm) -}}
{{- errorf "post %q has unsupported category %q" .File.Path $categoryTerm -}}
{{- end -}}
{{- $scratch.Add "meta" (slice (partial "article_type.html" $category)) }}
{{- end -}}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "2006-01-02" site.Params.DateFormat)))) }}
{{- end }}

{{- with .Lastmod -}}
{{- if and (not .IsZero) (ne (.Format "2006-01-02 15:04:05 -0700 MST") ($.Date.Format "2006-01-02 15:04:05 -0700 MST")) -}}
{{- $scratch.Add "meta" (slice (printf "更新于 %s" (. | time.Format (default "2006-01-02" site.Params.DateFormat)))) }}
{{- end -}}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
