{{- if .IsHome -}}
  {{- $person := dict "@context" "https://schema.org" "@type" "Person" "name" site.Params.author "url" site.Home.Permalink "description" site.Params.description "sameAs" site.Params.schema.sameAs "image" (partial "share_image.html" .) -}}
<script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
{{- else -}}
  {{- $items := slice -}}
  {{- range .Ancestors.Reverse -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" (add (len $items) 1) "name" .Title "item" .Permalink) -}}
  {{- end -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" (add (len $items) 1) "name" .Title "item" (partial "canonical_url.html" .)) -}}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items | jsonify | safeJS }}</script>
  {{- if and .IsPage (eq .Section "posts") -}}
    {{- $authors := slice -}}
    {{- $names := .Params.author | default site.Params.author -}}
    {{- if not (reflect.IsSlice $names) }}{{ $names = slice $names }}{{ end -}}
    {{- range $names }}{{ $authors = $authors | append (dict "@type" "Person" "name" .) }}{{ end -}}
    {{- $article := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "name" .Title "description" (.Description | default (.Summary | plainify)) "articleBody" .Plain "wordCount" .WordCount "inLanguage" site.Language.Lang "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "author" $authors "image" (partial "share_image.html" .) "keywords" .Params.tags "mainEntityOfPage" (dict "@type" "WebPage" "@id" (partial "canonical_url.html" .)) "publisher" (dict "@type" "Person" "name" site.Params.author "url" site.Home.Permalink) -}}
<script type="application/ld+json">{{ $article | jsonify | safeJS }}</script>
  {{- end -}}
{{- end -}}
